<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">

</head>
<body>
<h2>Welcome!  Please login to access your posts, and other stuff.</h2>
<form method="POST" action="/login">
    <label for="username">Username: </label> <input name="username" id ="username"/>
    <label for="password">Password: </label> <input type="password" name="password" id="password"/>
    <input type="submit"/>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>