<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>

<h1>
    Profile: <span th:text="${user.username}"></span>!
</h1>
<img th:src="${user.pictureURL}" class="profilePictures">

<form method="POST" action="/createPost">
    <label for="body">Message: </label> <input name="body" id="body"/>
    <input type="submit" />
</form>

<div th:each="post : ${user.posts}" class="posts">
    <h3 th:id="${post.created}" th:text="${post.created}">id</h3>
    <p>
        Post: <span th:text="${post.body}"></span>
    </p>
</div>


</body>
</html>