<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All The Profiles</title>

    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>

<br>
<h1>All The Profiles.  All of them.</h1>

<div th:each="user : ${users}" class="users">
    <h3 th:id="${user.id}" th:text="${user.id}">id</h3>
    <p>
        Username: <span th:text="${user.username}"></span>
    </p>

    <img th:src="${user.pictureURL}" class="profilePictures">

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>