<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Single Album</title>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="profiles">All Profiles</a></li>
        <li><a href="profile">My Profile</a></li>
        <li><a href="logout">Log out</a></li>
    </ul>
</nav>

<h1>
    Profile: <span th:text="${user.username}"></span>!
</h1>
    <img th:src="${user.pictureURL}" class="profilePictures">
<div>

</div>
</body>
</html>