<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>

<h1>Autobots, rollout!</h1>
<div th:if="${activeUser}">
    Hello, <span th:text="${activeUser.name}"></span>!
    <a href="logout">Log out</a>
</div>
<div th:unless="${activeUser}">
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>